.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
  padding: 60px 20px;
  background-color: #161616;
}

.feature {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border: 1px solid #3c91e6;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s ease;
}



.feature h3 {
  color: #ffc266;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.feature p {
  color: #ccc;
  font-size: 1em;
}
