.schedules-container {
  max-width: 1500px;
  margin: 45px auto;
  padding: 32px 16px;
  background: #f4f6fa;
  border-radius: 14px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.07);
  text-align: center;
}


.schedules-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #dbdbdb;
  margin-bottom: 18px;
}

.schedules-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: left;
  max-width: 500px;

  
}

.schedules-list li {
  font-size: 1.05rem;
  margin-bottom: 12px;
  color: #222;
}

.schedules-time {
  font-weight: bold;
  color: #1976d2;
}
