.schedules-container {
  max-width: 1500px;
  margin: 30px auto;
  padding: 32px 16px;
  background: linear-gradient(135deg, #161219 60%, #390f2f 100%);
  border-radius: 14px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.07);
  text-align: center;
}


.schedules-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #9294aa;
  margin-bottom: 18px;
}

.schedules-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: left;
  max-width: 500px;
}

.schedules-list li {
  font-size: 1.05rem;
  margin-bottom: 12px;
  color: #ffffff;
}

.schedules-time {
  font-weight: bold;
  color: #91d5b2;
}
