@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400;700&display=swap');
.hero {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  background: url('/download.gif') center center/cover no-repeat;
  /* Optional: Add a dark overlay for better text contrast */
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(136, 24, 24);
  z-index: 0;
}

.heroContent {
  position: relative;
  z-index: 1;
  margin-right: 5vw;
  max-width: 850px;
  margin-right: 20vw;
text-align: center;  
}

.blueBox {
  background: rgba(79, 203, 133, 0);
  border-radius: 16px;
  padding: 2rem 3rem;
  margin-bottom: -2.5rem;
  font-size: 1.8rem;
  display: inline-block;
  color: rgb(242, 235, 44);
}

.tagline {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #ede3e3;
}

.date {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: #ffffff;
  font-weight: bold;
  
}

.ctaButtons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.primaryBtn {
  background: #2c8bb7;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  margin-right: 10vw;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.primaryBtn:hover {
  background: #2c8bb7;
  color: #fff;
}

.secondaryBtn {
  background: transparent;
  color: #fff;
  border: 2px solid #4fc3f7;
  border-radius: 8px;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s, color 0.2s;
}

.secondaryBtn:hover {
  background: #4fc3f7;
  color: #181a1b;
}

.heroTitle{
 font-family: 'DM Serif Display', cursive;
}