body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  background-color: #ffffff;
}

.banner {
  position: relative;
  width: 100%;
  
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
  filter: brightness(0.4);
}

.HeroContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  padding: 1rem;
}

.HeroContent h1 {
  font-size: 3.8rem;
  margin-bottom: 0.5rem;
  background-color: transparent;
  padding: 0.8rem 1.8rem;
  border-radius: 8px;
  letter-spacing: 2px;
  color: #ffffff;
}

.HeroContent p {
  font-size: 1.8rem;
  margin: 0.5rem 0;
  background-color: transparent;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  color: #ffffff;
}

.registerButton {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.registerButton button {
  padding: 1.3rem 2.8rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(122, 158, 235);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 5px solid #1e3a8a;
}

.registerButton button:hover {
  background-color: #1e40af;
  transform: none;
}

/* Mobile styles (default) */
@media (max-width: 767px) {
  .registerButton button {
    transform: scale(0.9);
  }
}

/* Desktop styles */
@media (min-width: 768px) {
  .registerButton button {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .registerButton button:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    background-color: #1e40af;
  }
  
  .registerButton button:active {
    transform: translateY(-5px);
  }
}